@model ClientWCF.Models.ListaProdotti
@{
    ViewBag.Title = "Prodotti";
}

<h2>Prodotti</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table width="100%">
    <tr>
        <th style="text-align:center">ID</th>
        <th style="text-align:center">Nome</th>
        <th style="text-align:center">Prezzo</th>
        <th style="text-align:center">Produttore</th>
        <th style="text-align:center">Categoria</th>
        <th style="text-align:center">Quantità</th>
        <th style="text-align:center">Posizione</th>
    </tr>
    @{foreach (var i in Model.listaProducts)
        {
        <tr style="text-align:center">
            <td>
                @i.id
            </td>
            <td>
                @i.nome
            </td>
            <td>
                €@i.prezzo
            </td>
            <td>
                @i.produttore
            </td>
            <td>
                @i.categoria
            </td>
            <td>
                @i.quantità
            </td>
            <td>
                @i.posizione
            </td>
        </tr>
        }
      }
</table>
